@{
    ViewBag.Title = "Home Page";
}

<body class="HomeStyle">
    <div class="jumbotron" style="text-align: center;">
        <h1>Become a Legend</h1>
        <p class="lead">Aim to become the greatest in a land where only legends get remembered.</p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Lead the skilling world</h2>
            <p>
                There are currently 9 different skills for you to enjoy, be it gathering, processing or combat related skills. Accept your calling and become a legend in Heavens Fall!
            </p>
        </div>
        <div class="col-md-4">
            <h2>Take your friends to the top</h2>
            <p>Create or join a guild and take it to the very top, becoming the most notorious in the world! Guilds feature severall bonus that will help you on your road to greatness.</p>
        </div>
        <div class="col-md-4">
            <h2>Idle Gameplay</h2>
            <p>There can be no setback on your road to the top. Heavens Fall gameplay allows idle gameplay to ensure no one can hold you back, even your boss!</p>
        </div>
    </div>
</body>